html body {
    margin: 0;
    padding: 0;
}

.header {
    margin: 0;
    height: 53px;
    background-color: #fff;
}

.logo {
    float: left;
    margin-top: 13px;
    margin-left: 59px;
}

.logo img {
    float: left;
}

.logo .logoTitle {
    float: left;
    margin-left: 11px;
    font-family: SimHei;
    font-size: 20px;
    margin-top: 5px;
}

.tab {
    float: right;
    margin-right: 67px;
}

.tab ul {
    float: left;
    padding-left: 0;
    margin-top: 15px;
    margin-bottom: 0;
    height: 38px;
}

.tab ul li {
    float: left;
    width: 56px;
    height: 35px;
    text-align: center;
    list-style: none;
    margin-left: 50px;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #000;
}

.tab ul li#selected {
    color: #e74f4d;
    border-bottom: 3px solid #e74f4d;
}

.login {
    float: left;
    margin-top: 15px;
    margin-left: 32px;
}

.login img {
    float: left;
    margin-right: 7px;
}

.login-detail {
    float: left;
    color: #e74f4d;
}

.box0 {
    margin: 0;
    height: 691px;
    background-image: url(bg1.png);
    overflow: hidden;
}

.time-of-new-life {
    color: #fff;
    font-size: 60px;
    margin-left: 117px;
    margin-top: 245px;
}

.box1 {
    margin: 0;
    height: 249px;
    background-color: #fff;
}

.box2 {
    margin: 0;
    height: 360px;
    background-color: #ededed;
}

.box3 {
    margin: 0;
    height: 341px;
}

.box4 {
    margin: 0;
    height: 604px;
    background-color: #f7f7f7;
}

.box5 {
    margin: 0;
    height: 566px;
}

.box6 {
    margin: 0;
    height: 521px;
}

.box7 {
    margin: 0;
    height: 749px;
}

.box8 {
    margin: 0;
    height: 358px;
    background-color: #32353e;
}

.footer {
    margin: 0;
    height: 63px;
    background-color: #2f3039;
}