html body {
    margin: 0;
    padding: 0;
}

.header {
    margin: 0;
    height: 53px;
    background-color: #fff;
}

.logo {
    float: left;
    margin-top: 13px;
    margin-left: 59px;
}

.logo img {
    float: left;
}

.logo .logoTitle {
    float: left;
    margin-left: 11px;
    font-family: SimHei;
    font-size: 20px;
    margin-top: 5px;
}

.tab {
    float: right;
    margin-right: 67px;
}

.tab ul {
    float: left;
    padding-left: 0;
    margin-top: 15px;
    margin-bottom: 0;
    height: 38px;
}

.tab ul li {
    float: left;
    width: 56px;
    height: 35px;
    text-align: center;
    list-style: none;
    margin-left: 50px;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #000;
}

.tab ul li#selected {
    color: #e74f4d;
    border-bottom: 3px solid #e74f4d;
}

.login {
    float: left;
    margin-top: 15px;
    margin-left: 32px;
}

.login img {
    float: left;
    margin-right: 7px;
}

.login-detail {
    float: left;
    color: #e74f4d;
}

.box0 {
    margin: 0;
    height: 691px;
    background-image: url(bg1.png);
    overflow: hidden;
}

.time-of-new-life {
    color: #fff;
    font-size: 60px;
    margin-left: 117px;
    margin-top: 245px;
}

.time-of-new-life-detail {
    font-size: 21px;
    color: #fff;
    margin-left: 117px;
    width: 300px;
    font-family: "Microsoft YaHei";
    line-height: 31px;
}

.start:link,.start:visited,.start:hover,.start:active,.start {
    width: 132px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-family: "Microsoft YaHei";
    background-color: #e74f4d;
    padding: 19px 99px;
    box-shadow: 1px 1px 1px rgba(231, 79, 77, 0.8);
    margin-left: 117px;
    margin-top: 60px;
    display: block;
}

.box1 {
    margin: 0;
    height: 249px;
    background-color: #fff;
}

.box1 ul {
    width: 100%;
    height: 100%;
    padding: 0;
}

.box1 ul li {
    float: left;
    list-style: none;
    width: 25%;
}
.box1 ul li p {
    font-size: 13px;
    width: 150px;
    height: 48px;
    text-align: center;
    padding-left: 85px;
    padding-right: 85px;
    border-right: 2px solid #aaa;
    line-height: 16px;
    font-family: "Microsoft YaHei";
}

.box1 ul li img {
    margin-left: 139px;
    margin-top: 44px;
    margin-bottom: 43px;
    height: 42px;
}

.box2 {
    margin: 0;
    height: 360px;
    background-color: #ededed;
}

.box2 img {
    margin-top: 89px;
    margin-left: 595px;
}

.box2 p {
    color: #8f908f;
    font-size: 45px;
    font-family: SimHei;
    margin-top: 51px;
    margin-left: 300px;
}

.box3 {
    margin: 0;
    height: 341px;
    background-image: url(bg2.png);
    overflow: hidden;
}

.shade {
    width: 100%;
    height: 100%;
    background-color: rgba(170, 52, 50, 0.2);
    overflow: hidden;
}

.shade h1 {
    margin-top: 55px;
    font-size: 21px;
    color: #fff;
    margin-left: 500px;
    font-family: "Microsoft YaHei";
}

.shade hr {
    border: 1px solid #fff;
    width: 30px;
    margin-left: 600px;
}

.shade p {
    font-size: 12px;
    font-family: SimHei;
    color: #fff;
    margin-left: 449px;
    margin-top: 20px;
}

.shade form {
    margin-left: 124px;
}

.shade select {
    border-radius: 0;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    -webkit-appearance: none;
    width: 239px;
    height: 39px;
    border-bottom: 1px solid #fbf9f9;
    border-left: 1px solid #e4d8d5;
    border-top: 1px solid #cbb1a8;
    border-right: 1px solid #e2cec9;
}

.box4 {
    margin: 0;
    height: 604px;
    background-color: #f7f7f7;
}

.box5 {
    margin: 0;
    height: 566px;
}

.box6 {
    margin: 0;
    height: 521px;
}

.box7 {
    margin: 0;
    height: 749px;
}

.box8 {
    margin: 0;
    height: 358px;
    background-color: #32353e;
}

.footer {
    margin: 0;
    height: 63px;
    background-color: #2f3039;
}